<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Options</li>
      <!-- Optionally, you can add icons to the links -->
      <li><a href="{{ url_for('public.home') }}">Home</a></li>
      <li><a href="{{ url_for('transactions.graphs') }}">Graphs</a></li>
      <li><a href="{{ url_for('transactions.bulk_import') }}">Import</a></li>
      <li><a href="{{ url_for('public.about') }}">About</a></li>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
