
{% extends "layout.html" %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
  $("#account").select2();
  $('#trx_date').datetimepicker();
  $('#trx_date').data('DateTimePicker').format("dddd, MMMM DD YYYY, HH:mm");
});
</script>
{% endblock %}

{% block content %}
<div class="container-narrow">
  <h1>New Transaction</h1>
    <br/>
    <form id="registerForm" class="form form-register" method="POST" action="" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{form.type.label}}
                {{form.type(placeholder="Type", class_="form-control")}}
            </div>
             <div class="form-group">
                {{form.account.label}}
                {{form.account( class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.amount.label}}
                {{form.amount(placeholder="Amount", class_="form-control")}}
            </div>
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        {{form.trx_date.label}}
                        {{form.trx_date(class_="form-control")}}
                    </div>
                </div>
            </div>
            <p><input class="btn btn-default btn-submit" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}

